
<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset ="UTF-8">
    <meta name ="viewport"content="width =device-width,intial-scale=1.0">

<title>productst</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<link rel="stylesheet"href="../assets/css/style.css">
</head>


<body>
    <!--Header--> 

     <!--Main Site-->

    <main id ="site-main">
    
            <div class ="container">
                <div class="box-nav d-flex-justify-between">
                    <a href="/add-products" class="border-shadow">
                    <span class ="text-gradient">new Products<i class="fab fa-product-hunt"></i></span>
                    </a>
                </div>

                <!--form handling-->
                <form acion="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Productname</th>
                            <th>productimage</th>
                            <th>availblity</th>
                            <th>price</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Productname</td>
                            <td>productimage</td>
                            <td>availblity</td>
                            <td>price</td>
                            <td>
                                  <a href="a" class="btn border-shadow update">
                                      <spam class="text-gradient">class="fas fa-pancil-alt"></spam>
                                  </a>

                                  <a class="btn border-shadow delete">
                                    <spam class="text-gradient">class="fas fa-times"></spam>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>                
                </form>
            </div>

    </header>
    <!--/Header-->

  <!--/Main Site-->

</body>>
</html>
